<div class="topPage">
  <div class="listWrapper" style="cursol: grab;">
    <% @columns.each do |column| %>
      <%= content_tag "div", id: "column-#{column.id}", data: { id: column.id, model_name: column.class.name.underscore, update_url: column_sort_path(column)} do %>
        <div class="list">
          <div class="list_header">
            <h2 class="list_header_title"><%= column.column_title %></h2>
              <div class="list_header_action">
                <%= link_to content_tag(:i, '', class: 'fas fa-trash'), column, method: :delete, data: { confirm: "#{column.column_title}を削除して大丈夫ですか？" } %>
                <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_column_path(column)) %>
              </div>
          </div>
          <div class="cardWrapper" style="cursol: grab;">
            <div class="tasks">
              <% column.tasks.each do |task| %>
                
                <%= content_tag "div", id: "task-#{task.id}", data: { id: task.id, model_name: task.class.name.underscore, update_url: column_task_sort_path(column, task)} do %>
                  <%= link_to column_task_path(column, task), class:"cardDetail_link" do %>
                    <div class="card">
                      <h3 class="card_title"><%= task.task_title %></h3>
                      <% if task.task_info.size > 0 %>
                        <div class="card_detail is-exist"><i class="fas fa-bars"></i></div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                
              <% end %>
            </div>
            <div class="addCard">
              <i class="far fa-plus-square"></i>
              <%= link_to "タスクを追加", new_column_task_path(column), class: "addCard_link" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>