<div class="cardeditPgae">
  <div class='container'>
    <%= form_with model: @task, url: { action: :update }, html: { class: 'cardeditForm' }, local: true do |f| %>
      <% if @task.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <div class="cardeditForm_title">
        <%= f.label :タスク名 %>
        <%= f.text_field :task_title, class: "form-control", placeholder: "タスク名" %>
      </div>
      <div class="cardeditForm_memo">
        <%= f.label :詳細 %>
        <%= f.text_area :task_info, class: "form-control", placeholder: "詳細" %>
      </div>
      <div class="cardeditForm_memo">
        <label>カラム名</label>
        <%= select :task, :column_id, @columns.map{ |column| [column.column_title, column.id] }, {}, { class: 'form-control' } %>
      </div>
      <div class="text-center"><%= f.submit "更新する", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>